{% extends 'posts/base.html' %}
{% load i18n %}
{% load static %}

{% block header_image %}
  url('{% static 'posts/img/live.jpg' %}')
{% endblock %}

{% block content %}
  {% for post in posts.object_list %}
    <a href="/{{ post.url_slug }}/" class="live__post__link">
      <div class="post-preview live__preview"
           style="background-image: url('{{ post.head_image.thumb.url }}') !important;">

        <h2 class="post-title unibox-white">
          {{ post.title }}
        </h2>
        <div class="clearfix10"></div>

        <h3 class="post-subtitle unibox-white">
          {{ post.get_summary }}
        </h3>

      </div>
    </a>
  {% endfor %}

  <hr>
  <div class="clearfix">
    {% if posts.has_previous %}
      <a class="btn btn-secondary" href="?page={{ posts.previous_page_number }}">&larr; Туда</a>
    {% endif %}

    {% if posts.has_next %}
      <a class="btn btn-secondary float-right" href="?page={{ posts.next_page_number }}">Сюда &rarr;</a>
    {% endif %}
  </div>
{% endblock %}