{% extends 'posts/base.html' %}
{% load dractags %}
{% load static %}

{% block extra_content_class %}post__images{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'posts/css/code.css' %}">
{% endblock %}

{% block header_image %}
  {% if post.head_image != None %}
    url('{{ post.head_image.thumb.url }}')
  {% else %}
    url('{% static 'posts/img/main.png' %}')
  {% endif %}
{% endblock %}


{% block content %}
  {% if is_preview %}
    <h3 class="post__preview_mode">Preview Mode!</h3>
  {% endif %}

  <p class="post__post-meta">{{ post.published_at }}</p>
  <div class="post__body">
    {{ post.body| safe_markdown }}
  </div>
  <hr>

  {% if not post.comments_disabled %}
    <p class="post__comments">
      {% include 'posts/partials/comments.html' %}
    </p>
  {% endif %}
{% endblock %}
