{% extends 'posts/base.html' %}
{% load dractags %}
{% load static %}

{% block extra_content_class %}post__images{% endblock %}

{% block extra_css%}
  <link rel="stylesheet" href="{% static 'posts/css/code.css' %}">
{% endblock %}

{% block header_image %}
  {% if post.head_image != None %}
    url('{{ post.head_image.origin.url }}')
  {% else %}
    url('{% static 'posts/img/main.webp' %}')
  {% endif %}
{% endblock %}


{% block content %}
  {% if is_preview %}
    <h3 class="post__preview_mode">Preview Mode!</h3>
  {% endif %}

  <p class="post__post-meta">{{ post.published_at }}</p>
  {{ post.body| safe_markdown }}
  <hr>
{% endblock %}
